<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="blogs content">
      <h2>About Us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem unde sit
        magnam veniam vitae a et ipsa voluptas similique at laborum dolores
        consequatur commodi quis aut, odit iusto consequuntur beatae?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem unde sit
        magnam veniam vitae a et ipsa voluptas similique at laborum dolores
        consequatur commodi quis aut, odit iusto consequuntur beatae?
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem unde sit
        magnam veniam vitae a et ipsa voluptas similique at laborum dolores
        consequatur commodi quis aut, odit iusto consequuntur beatae?
      </p>
    </div>
  </body>
  <%- include('./partials/footer.ejs') %>
</html>
